@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap');
/*thin regular medium bold*/

@font-face {
   font-family: 'TmonMonsoriBlack';
   src: url('font/TmonMonsoriBlack.eot?#iefix') format('embedded-opentype'),  url('font/TmonMonsoriBlack.woff') format('woff'), url('font/TmonMonsoriBlack.ttf')  format('truetype'), url('font/TmonMonsoriBlack.svg#TmonMonsoriBlack') format('svg');
   font-weight: normal;
   font-style: normal;
 }
@font-face {
  font-family: 'sd-misaeng';
  src: url('font/sdmisaeng.eot');
  src: url('font/sdmisaeng.eot?#iefix') format('embedded-opentype'),
        url('font/sdmisaeng.woff') format('woff'),
        url('font/sdmisaeng.ttf') format('truetype'),
        url('font/sdmisaeng.svg#sd-misaeng') format('svg');
  font-weight: normal;
  font-style: normal;

}
/*웹폰트 generator*/